<tr class="one_micropost">
	<td class="micropost"><%= link_to gravatar_for(feed_item.user), feed_item.user %></td>
	<td class="micropost">
		<%= link_to feed_item.user.name, feed_item.user %>
		<span class="content"><%= feed_item.content %></span>
		<span class="timestamp"><%= time_ago_in_words(feed_item.created_at) %></span>
	</td>
	<td>
		<%= link_to "delete", feed_item, 	:method => :delete,
											:confirm => "Are you sure?",
											:title => feed_item.content	%>							
	</td>
<tr>